
.navbar {
    background-color: $bg-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;
    padding: 9px 20px;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-logo {
    color: #f5b921;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-bottom: 0;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  

  
  // .nav-item:after {
  //   content: "";
  //   display: block;
  //   height: 3px;
  //   width: 0;
  //   background: transparent;
  //   transition: width 0.7s ease, background-color 0.5s ease;
  // }
  
  .nav-item:hover:after {
    width: 100%;
    background: #fff;
  }
  
  .nav-icon {
    display: none;
  }
  // Top Header
  .top-header .nav-item .active{
      color:#fff;
  }
  .top-header a{
    text-transform: uppercase;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    height: 43px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease 0s;
  }
  .top-header {
    padding: 0px 20px;
}
.top-header-menu {
  padding-left: 13px;
  height: 43px;
}
.top-header a span{
  padding: 9px 6px;
  transition: all 0.5s ease 0s;
}

.top-header a:hover span {
  background-color: $bg-primary !important;
  transition: all 0.5s ease 0s;
}
.btn_menu {
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}
.btn_menu img {
  padding-right: 13px;
  object-fit: contain;
    width: 30px;
}
.mm-menu-show .mm-primary_menu {
  transform: translateX(-0%);
}
.btn_menu.primary-menu {
  justify-content: start;
  padding-left: 30px;
  padding-bottom: 30px;
}
.close-menu {
  width: 20px;
  height: 20px;
}
  // Top Header
  .search-field-container input {
    background: transparent;
    box-shadow: none;
    border: transparent;
    width: 30px;
    transition: all 0.5s ease;
    padding-left: 0px;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
}
.search-icon {
  position: absolute;
  top: 17px;
  z-index: -1;
}
.search-field-container input:focus {
  width: 150px;
  padding-left: 30px;
  border-color:transparent;
  border-bottom-color:#fff;
}
.mm-menu-hidden .top-header, .mm-menu-show .top-header {
  background: transparent !important;
}
.mm-menu-hidden .top-header ul, .mm-menu-show .top-header ul {
  display: block;
  padding: 0;
}
.mm-primary_menu {
  padding-top: 53px;
  position: fixed;
  width: 330px;
  background: #00b4e5;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-150%);
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.mm-primary_menu .top-header-right {
  display: none;
}
.mm-primary_menu .top-header-menu{
  padding-left: 0;
}
.mm-primary_menu ul.top-header-menu {
  display: block !important;
}
.mm-primary_menu ul.top-header-menu a:hover span{
  background: transparent !important;
}
.mm-primary_menu .nav-logo {
  margin-bottom: 30px;
  display: block;
}
  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #1f5156;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
  }
  